dynaconf

pytest==8.3.3
pytest-mock==3.14.0

# API
Flask==3.0.3
gunicorn==23.0.0

# Classifier
fastapi[standard]
python-multipart
uvicorn[standard]
joblib
PyPDF2
pytesseract
requests
scikit-learn

# Trainer
pandas